//post-insights start
.post-insights {
    width: 100%;
}
.post-insights__header {

}
.post-insights__author {
    margin: 20px 0 50px 0;
}
.post__preview-photo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .post__preview-author {
        margin-bottom: 29px;
    }
}
.post__preview-img {
    width: 100%;
    height: 427px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.post-insights__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.insights__content-image {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    img {
        max-width: 100%;
    }
}
.post-insights__button {
    margin-top: 27px;
    .button-style {
        padding: 13px 21px;
    }
}
//post-insights end
