//whywe start
.whywe-wrapper {
    width: 100%;
}
.whywe-title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.whywe-image {
    padding: 70px 0;
    img {
        max-width: 100%;
    }
}
//whywe end


//whywe mobile start
@media(max-width:750px){
    .whywe-title {
        margin-bottom: 25px;
    }
    .whywe-image {
        padding: 35px 0;
        img {
            max-width: 100%;
        }
    }
}
//whywe mobile end