/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a {
  color: #505D68;
}

a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "DroidSansRegular";
  src: url("/assets/fonts/DroidSansRegular/DroidSansRegular.eot");
  src: url("/assets/fonts/DroidSansRegular/DroidSansRegular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/DroidSansRegular/DroidSansRegular.woff") format("woff"), url("/assets/fonts/DroidSansRegular/DroidSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  color: #505D68;
  font-size: 18px;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.page-title {
  font-size: 1.55em;
  font-weight: 700;
  line-height: 128%;
  letter-spacing: 1px;
}

.headline-one {
  font-weight: 700;
  font-size: 2.77em;
}

.headline-two {
  font-weight: 700;
  font-size: 2.11em;
  line-height: 128%;
}

.text-one {
  font-weight: 500;
  font-size: 1em;
  line-height: 138%;
}

.text-two {
  font-weight: 700;
  font-size: 0.78em;
  letter-spacing: 1px;
  line-height: 257%;
}

.text-three {
  font-weight: 400;
  font-size: 0.78em;
  line-height: 221%;
  letter-spacing: 1px;
}

.main-text {
  font-family: "DroidSansRegular";
  font-weight: 400;
  font-size: 0.89em;
  line-height: 193%;
  letter-spacing: 1px;
}

.home__block-text {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 172%;
}

.button-style {
  font-size: 0.66em;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 13px 35px;
  border-radius: 50px;
  background-color: #3C75A2;
}

.button-style:hover {
  background-color: #57A5E2;
  color: #fff;
  font-weight: 700;
}

.button-style__dark {
  font-size: 0.66em;
  font-weight: 400;
  text-transform: uppercase;
  color: #424B5A;
  border-radius: 50px;
  display: inline-block;
  padding: 11px 38px;
  border: 1px solid #424B5A;
}

.button-style__dark:hover {
  font-weight: 700;
  color: #fff;
  background-color: #424B5A;
}

header {
  width: 100%;
  padding-bottom: 86px;
}

.logo-search {
  padding: 56px 0 15px 0;
}

.header-logo {
  width: 287px;
  height: 76px;
}

.header-logo img {
  width: 100%;
  height: auto;
}

.logo-search__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header-search {
  width: 650px;
}

.search-form {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  background-color: var(--Gray, #E9EBEB);
  color: rgba(135, 143, 146, 0.6);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.search-icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search-icon img {
  width: 20px;
  height: 20px;
  color: #263238;
}

.search-input {
  width: 100%;
  border: none;
  padding: 18px 32px 18px 69px;
  color: rgba(135, 143, 146, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 0.88em;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.16px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(135, 143, 146, 0.6);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(135, 143, 146, 0.6);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(135, 143, 146, 0.6);
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgba(135, 143, 146, 0.6);
}

.search-clear-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 22px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-clear-btn img {
  width: 100%;
  height: 100%;
  color: #000000;
}

.header-main {
  width: 100%;
}

.header-main__bacground-img {
  width: 100%;
  height: 100%;
}

.header-main__about {
  position: absolute;
  bottom: 0;
  right: 15px;
  padding: 33px 25px 25px 16px;
  color: #fff;
  background-color: #397EBD;
  opacity: 0.8;
  width: 360px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #000;
}

.nav__list-item {
  width: 20%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav__list-link {
  width: 100%;
  padding: 9px 5px;
  border-radius: 3px;
  font-size: 0.88em;
  font-weight: 700;
  line-height: 126%;
  text-transform: uppercase;
  text-align: center;
}

.nav__list-link:hover {
  background: #424B5A;
  color: #fff;
}

.nav-active {
  background: #424B5A;
  color: #fff;
}

.nav__list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  width: 2px;
  height: 20px;
  background-color: black;
  z-index: 1;
}

footer {
  margin-top: 70px;
  padding-top: 74px;
  background-color: #505D68;
}

.footer-container {
  background-color: #CDCDCD;
  padding-top: 26px;
  padding-bottom: 11px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  max-width: 291px;
  max-height: 139px;
}
.footer-logo img {
  max-width: 100%;
}

.nav-footer {
  width: 616px;
  margin-top: 45px;
}

.nav-list__footer {
  display: flex;
  justify-content: space-between;
}

.nav-ling__footer {
  position: relative;
}

.nav-ling__footer:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #505D68;
  content: "";
  transition: width 0.3s ease-out;
}

.nav-ling__footer:hover:after,
.nav-ling__footer:focus:after {
  width: 100%;
}

.footer-registry {
  margin-top: 60px;
}

.home-main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 90px;
}

.liner-style__block {
  width: 100%;
}

.liner-style__home {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.liner-style {
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  display: flex;
  align-items: center;
}

.home-block__subtext {
  width: 100%;
}

.home-block__text {
  gap: 26px;
}

.prewiev-insights {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.prewiev-insights .swiper {
  width: 100%;
}
.prewiev-insights .swiper-button:after {
  content: none;
}
.prewiev-insights .swiper-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #505D68;
  top: 35%;
}
.prewiev-insights .swiper-button img {
  width: 21px;
  height: 21px;
  color: #fff;
}
.prewiev-insights .swiper-button-prev {
  left: 0;
}
.prewiev-insights .swiper-button-prev img {
  rotate: 180deg;
}
.prewiev-insights .swiper-button-next {
  right: 0;
}
.prewiev-insights .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
.prewiev-insights .swiper-slide .slide-image {
  width: 360px;
  height: 210px;
  position: relative;
}
.prewiev-insights .swiper-slide .slide-image .slide-button {
  position: absolute;
  bottom: 18px;
  left: 2px;
  z-index: 2;
}
.prewiev-insights .swiper-slide .slide-image img {
  max-width: 100%;
  height: 100%;
}

.prewiev__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.meet-our-team {
  width: 100%;
}
.meet-our-team .meet-our-team__wrapper {
  background-color: #DCD3D4;
  padding: 83px 100px;
  display: flex;
  gap: 80px;
}
.meet-our-team .liner-style__home {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meet-our-team .meet-our-team__text {
  max-width: 505px;
}
.meet-our-team .meet-our-team__image {
  min-width: 250px;
  width: 356px;
}
.meet-our-team .meet-our-team__image img {
  max-width: 100%;
}

@media (max-width: 950px) {
  .meet-our-team .meet-our-team__wrapper {
    padding: 41px 50px;
    gap: 40px;
  }
}
.why-we {
  width: 100%;
}

.why-we__wrappeer {
  display: flex;
}

.why-we__image {
  width: 50%;
  background-color: #E9EBEB;
  display: flex;
}
.why-we__image img {
  margin: auto 0;
}

.why-we__text {
  width: 50%;
  padding-top: calc(27px + 38 * (100vw - 750px) / 1200);
  padding-right: calc(28px + 39 * (100vw - 750px) / 1200);
  padding-bottom: calc(27px + 38 * (100vw - 750px) / 1200);
  padding-left: calc(40px + 70 * (100vw - 750px) / 1200);
  background-color: #E9EBEB;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.why-me__button {
  margin-right: auto;
}

.contacts-main .contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-bottom: 16px;
}
.contacts-main .contacts-content {
  margin-left: auto;
  margin-right: auto;
  padding: 55px 140px 163px 140px;
  background-color: #DCD3D4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts-main .contacts-title {
  margin-bottom: 50px;
}
.contacts-main .contacts__info-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contacts-main .contacts__info-list img {
  width: 24px;
  height: 24px;
}
.contacts-main .contacts__info-item {
  display: flex;
  gap: 15px;
}
.contacts-main .contacts-subtext {
  width: 100%;
}
.contacts-main .contacts__info-social {
  display: flex;
  gap: 7px;
}

.whywe-wrapper {
  width: 100%;
}

.whywe-title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.whywe-image {
  padding: 70px 0;
}
.whywe-image img {
  max-width: 100%;
}

.about-container {
  width: 100%;
}

.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.about-title {
  width: 100%;
  text-align: center;
}

.about-content__image {
  width: 100%;
  padding: 5px 0;
}
.about-content__image .about__image {
  float: left;
}
.about-content__image .about__image img {
  max-width: 100%;
  margin: 5px 30px 5px 0;
}
.services-header {
  width: 100%;
}
.services-header .services-header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.services-content {
  padding: 70px 0;
}
.services-content .services__group-card {
  display: flex;
  flex-direction: column;
  gap: 114px;
}
.services-content .services-card {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 78px;
}
.services-content .services-card__content {
  width: 652px;
}
.services-content .services-card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.services-content .services-card__image {
  width: 410px;
}
.services-content .services-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-button {
  margin-top: 27px;
}
.services-button .button-style {
  padding: 14px 38px;
  font-size: 0.67em;
  line-height: normal;
}

.post-insights__subtitle {
  margin-top: 50px;
}

.insights-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.filters-wrapper {
  display: flex;
  justify-content: center;
}

.filters-title {
  margin-right: 30px;
}

.filters {
  display: flex;
  gap: 68px;
}
.filters select:active, .filters select:focus {
  outline: none;
}

.filter-list {
  width: 195px;
  background-color: #E9EBEB;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 11px 8px;
  border-radius: 3px;
}

.page-group__insights-post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 16px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.page__insights-post {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.insights-pagination {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #878E91;
  border-radius: 3px;
  color: #878E91;
  font-size: 10px;
  font-weight: 400;
}
.insights-pagination button, .insights-pagination span {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.insights-pagination button:hover, .insights-pagination span:hover {
  background-color: rgba(80, 93, 104, 0.1529411765);
}
.insights-pagination .insights-pagination__active {
  padding-bottom: 2px;
  color: #505D68;
  font-weight: 700;
}
.insights-pagination span {
  border-left: 1px solid #878E91;
}
.insights-pagination #insights-next {
  border-left: 1px solid #878E91;
}

.post-insights {
  width: 100%;
}

.post-insights__author {
  margin: 20px 0 50px 0;
}

.post__preview-photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post__preview-photo .post__preview-author {
  margin-bottom: 29px;
}

.post__preview-img {
  width: 100%;
  height: 427px;
}
.post__preview-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-insights__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insights__content-image {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.insights__content-image img {
  max-width: 100%;
}

.post-insights__button {
  margin-top: 27px;
}
.post-insights__button .button-style {
  padding: 13px 21px;
}/*# sourceMappingURL=style.css.map */