.contacts-main {
    .contacts-wrapper {
        display: flex;
        flex-direction: column;
        gap: 70px;
        
        padding-bottom: 16px;
    }
    .contacts-content {
        margin-left: auto;
        margin-right: auto;
        padding: 55px 140px 163px 140px;
        background-color: #DCD3D4;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts-title {
        margin-bottom: 50px;
    }
    .contacts__info-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img {
            width: 24px;
            height: 24px;
        }
    }
    .contacts__info-item {
        display: flex;
        gap: 15px;
    }
    .contacts-subtext {
        width: 100%;
    }
    .contacts__info-social {
        display: flex;
        gap: 7px;
    }
}