.about-container {
    width: 100%;
}
.about-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.about-title {
    width: 100%;
    text-align: center;
}
.about-content__image {
    width: 100%;
    padding: 5px 0;
    .about__image {
        float: left;
        img {
            max-width: 100%;
            margin: 5px 30px 5px 0;
        }
    }
    .about-content {
    }
}
